.progress {
    background-color: #d8d8d8;
    border-radius: 3px;
    height: 9px;
    width: 100px;
}

.progress-done {
    background: linear-gradient(to left, #F27C9C, #FF9472);
    box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 200%;
    font-size: 9px;
}